Repository murphycrew/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, erd-generation, rls-validation

local-biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npm run lint'
  language: system

erd-generation:
  name: ERD generation
  entry: bash -c 'cd backend && source .venv/bin/activate && DETERMINISTIC_ERD_GENERATION=1 python scripts/generate_erd.py --validate --verbose --force'
  language: system
  stages:
  - pre-commit
  always_run: false
  pass_filenames: false
  require_serial: true
  ...

rls-validation:
  name: RLS model validation
  entry: bash -c 'cd backend && source .venv/bin/activate && python scripts/lint_rls.py --verbose'
  language: system
  stages:
  - pre-commit
  always_run: false
  pass_filenames: true
  require_serial: false
  ...

Fix cursor rules
  .cursor/rules/specify-rules.mdc
Due: none

Fix for prestart rls setup
  backend/app/core/rls.py
  docker-compose.yml
Due: rls-validation

Lint fixes
  backend/app/api/routes/items.py
  backend/app/core/rls.py
  backend/app/crud.py
Due: rls-validation

Lots of test fixes
  backend/erd/entities.py
  backend/erd/generator.py
  backend/tests/api/routes/test_items.py
  backend/tests/conftest.py
  backend/tests/integration/test_rls_admin.py
  backend/tests/integration/test_rls_context.py
  backend/tests/integration/test_rls_isolation.py
  backend/tests/integration/test_rls_policies.py
  backend/tests/performance/test_rls_performance.py
  backend/tests/scripts/test_backend_pre_start.py
  backend/tests/scripts/test_test_pre_start.py
  backend/tests/unit/erd_tests/test_relationships.py
  backend/tests/unit/test_rls_models.py
  docs/database/erd.mmd
Due: none

Fixing coverage
  docs/database/erd.mmd
Due: none

Add comprehensive test coverage for initial_data.py and rls_policies.py
  backend/tests/unit/test_initial_data.py
  backend/tests/unit/test_rls_policies_unit.py
Due: none

Add test coverage improvements to reach 89%
  backend/scripts/coverage.sh
  backend/tests/api/routes/test_login_edge_cases.py
  backend/tests/api/routes/test_utils.py
  backend/tests/conftest.py
  backend/tests/unit/test_config_coverage.py
  docs/database/erd.mmd
Due: none

🎉 Achieve 90% test coverage!
  backend/tests/unit/test_deps_coverage.py
  backend/tests/unit/test_initial_data.py
  docs/database/erd.mmd
Due: none

Generate client
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
Due: local-biome-check

Path conditions:
  local-biome-check: any of: ^frontend/
  erd-generation: any of: ^backend/app/models\.py$ and \.py$
  rls-validation: any of: ^backend/app/.*\.py$ and \.py$
